@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-900 bg-gray-100 dark:text-gray-100 dark:bg-gray-900;
    @apply min-h-screen;
  }
  ::selection {
    @apply bg-blue-500 text-white;
  }
}

:root {
  --background: white;
  --foreground: black;

  --primary: #020617;
  --secondary: #475569;
  --secondaryHover: #64748b;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;

  --primary: #475569;
  --secondary: #020617;
  --secondaryHover: #1e293b;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondaryHover);
}